/* Home.css */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95); /* Slightly scale down the image */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the children horizontally */
  padding: 0; /* Remove padding from the parent container */
}

.homeContainer {
  animation: fadeIn 0.966s ease-out forwards;
  animation-iteration-count: infinite;
  display: flex;
  background-position: center;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 500px; /* Adjust height as needed */
  width: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  margin-bottom: 0px; /* Reduces space below the homeContainer */
  margin-top: 0px;
}

.tokenshow {
  /*display: flex;*/
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Optional: Set a specific height for the centered content */
  padding-top: 50vh;
}

.homeContainer, .tokenshow {
  margin: 0;
  padding: 50px;
}


  /* styles.css */
.containertoken {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cardtoken {
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  align-items: center;
}

.logotoken {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.infotoken {
  flex: 1;
  font-size: 14px;
}

.rowtoken {
  display: flex;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 58px;
  padding-right: 10px;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchInputtoken {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: azure;
  margin: 0px; /* Remove margin */
  padding: 10px;
  font-size: 16px;
  width: 75%;
  font-palette: azure;
}

@media (max-width: 767px){
.rowtoken {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
}

.searchInputtoken::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 1;
}

.searchInputtoken::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}

.searchInputtoken:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 1;
}

.searchInputtoken::placeholder {
  color: white;
  opacity: 1;
}


@media (max-width: 767px) {
  .mainContainer {
      /* Adjust main container styles for mobile */
      padding: 10px; /* Add some padding */
  }

  .homeContainer {
      height: 100%; /* Adjust height for mobile */
      width: 80%; /* Full width on small devices */
      padding: 20px; /* Adjust padding */
      margin-bottom: 0px; /* Adjust bottom margin */
  }

  .tokenshow {
      padding-top: 50px; /* Reduce top padding */
  }

  .homeContainer, .tokenshow {
      padding: 50px; /* Adjust padding */
  }

  .containertoken, .cardtoken {
      width: 30%; /* Adjust width for mobile */
      padding: 10px; /* Adjust padding */
  }

  .logotoken {
      width: 40px; /* Adjust logo size */
      height: 40px; /* Adjust logo size */
  }

  .infotoken {
      font-size: 6px; /* Adjust font size for mobile */
  }

  .rowtoken {
      padding-left: 5px;
      padding-right: 5px;
  }

  .searchInputtoken {
      width: 100%; /* Full width input */
      font-size: 14px; /* Adjust font size */
  }

  .cardtoken {
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    width: 90px;
    display: flex;
    align-items: center;
  }
}